<h1>Show Artist</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @artist.name %>
  </li>

  <li>
    <strong>Birth:</strong>
    <%= @artist.birth %>
  </li>

  <li>
    <strong>Country:</strong>
    <%= @artist.country %>
  </li>

  <li>
    <strong>Picture:</strong>
    <%= @artist.picture %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.artist_path(@conn, :edit, @artist) %></span> |
<span><%= link "Back", to: Routes.artist_path(@conn, :index) %></span>
